// variables
$text-clr: hsla(251, 33%, 19%, 1);
$compliment-clr: rgb(171, 130, 140);

// mixins
@mixin grainy-bg {
  background: linear-gradient(
      79deg,
      rgba(246, 255, 222, 1),
      rgba(227, 242, 193, 0.8)
    ),
    url(../media/grain.png);
  background-size: cover;
}

@mixin glass-bg {
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.23);
}

// reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

// css
@font-face {
  font-family: "Misto";
  src: url("../fonts/Misto-r.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  @include grainy-bg;
  font-family: "Poppins", sans-serif;
  color: $text-clr;
  padding-inline: 3%;
}

// HEADER

header {
  height: 100vh;
  line-height: 0.9;
  border: dashed transparent 2px;

  .header_txt {
    padding-right: 4.5%;
  }

  h1 {
    font-family: "Misto", sans-serif;
    font-size: clamp(36px, 4.5vw, 96px);
    text-align: right;
    margin-top: 20%;
  }

  p {
    font-size: clamp(20px, 3vw, 68px);
    text-align: right;
  }
}

nav {
  @include glass-bg;
  height: 5rem;
  width: 90%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translate(-50%);
  padding: 1% 3%;
  background: rgba(255, 255, 255, 0.18);

  a {
    img {
      height: 100%;
    }
  }

  ul {
    display: flex;

    li {
      padding: 0.3em;
    }
  }
}

.nav_link {
  display: inline-block;
  position: relative;
}

.nav_link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: $compliment-clr;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav_link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

header a.contact_link {
  display: block;
  margin: 8% auto 2%;
  padding: 10px;
  border-top: solid 2px $text-clr;
  border-bottom: solid 2px $text-clr;
  width: fit-content;
  text-transform: capitalize;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;

  &:hover {
    letter-spacing: 6px;
  }
}

// HAMBURGER MENU

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: $compliment-clr;
}

nav > ul.nav_menu.active {
  left: 0;
  padding-top: 3%;
}

// ABOUT SECTION

.about_section {
  background: url(../media/bg_beet.png), url(../media/bg_beet_vertical.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left, right;
  // border: solid black 1px;
  padding: 3% 5%;

  .about_wrapper {
    @include glass-bg;
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    padding: 3%;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
  }

  h3 {
    font-family: "Misto", sans-serif;
    font-size: clamp(24px, 2rem, 46px);
  }

  p {
    width: 60%;
    margin: 1em auto;
    font-size: clamp(0.9rem, 1.25vw, 1.2rem);
  }
}

// PROJECTS SECTION

section.projects {
  text-align: center;
  padding: 5%;

  h2 {
    font-family: "Misto", sans-serif;
    font-size: clamp(24px, 2rem, 46px);
  }

  .group {
    margin-block: 2%;

    img {
      width: 100%;
      border-radius: 15px;
      margin-block: 1em;
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
      transition: transform 0.25s;

      &:hover,
      &:active {
        transform: scale(1.05);
      }
    }

    .project_descr {
      visibility: hidden;
      position: absolute;

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.8em;
        margin-block: 2em 5em;

        li {
          @include glass-bg;
          background: rgba(170, 200, 167, 0.3);
          color: rgba(38, 32, 64, 0.9);
          padding: 5px 10px;
        }
      }

      a {
        @include glass-bg;
        background: rgba(255, 255, 255, 0.2);
        padding: 0.5em 1.4em;
        position: relative;
        transition: 0.5s;

        &:hover {
          padding-right: 1.7em;
          padding-left: 1.1em;
        }

        &::after {
          content: ">>";
          position: absolute;
          right: -10px;
          opacity: 0;
          transition: 0.5s;
        }
      }
    }
  }
}

div.project_descr > a#launch_btn:hover:after {
  opacity: 1;
  right: 8px;
}

// FOOTER

footer {
  min-height: 3rem;
  padding: 2%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .footer_icon {
    font-size: clamp(24px, 4vw, 2rem);
    color: #6d806c;
    transition: all 0.25s ease-out;

    &:hover {
      color: #aac8a7;
      transform: rotate(-20deg);
    }
  }
}

/***********************************************************************************/
// MEDIA QUERIES

@media screen and (max-width: 1200px) {
  header {
    height: 29rem;
  }

  .about_section {
    background: url(../media/bg_beet_vertical.png);
    background-repeat: no-repeat;
    background-position: right;
  }

  section.projects .group .project_descr ul {
    margin-block: 1em 3em;
  }
}

@media screen and (max-width: 800px) {
  header {
    // height: 40vh;

    nav {
      position: relative;
      align-items: center;

      a {
        height: 50px;
      }
    }
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav_menu {
    @include glass-bg;
    background: rgba(255, 255, 255, 0.18);
    position: fixed;
    left: -120%;
    top: 5rem;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: all 0.3s;

    li {
      padding: 0;

      a {
        height: 30px;
        font-size: 0.9rem;
      }
    }
  }

  nav ul.nav_menu a::after {
    transform: none;
    background-color: transparent;
  }

  .about_section {
    padding-inline: 1%;
  }

  .about_wrapper > p {
    width: 80%;
  }
}

@media screen and (min-width: 800px) {
  section.projects {
    padding: 6% 3%;

    .group {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(2, 1fr);

      .project_link {
        cursor: default;
      }

      .project_descr {
        visibility: visible;
        position: static;
        align-self: center;
      }
    }
  }

  div.reversed {
    .project_link {
      order: 2;
    }
    .project_descr {
      order: 1;
    }
  }
}

// TODO: MAKE BURGER MENU + FOOTER
